<html>
<head>
</head>
<style>



</style>

<body>
<style type="text/css">
.tg  {
    border-collapse:collapse;border-spacing:0;
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-0r6a {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    background-color: #000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top}

.tg .tg-kzq8 {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-o2qf {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    background-color:#000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-3pmj {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
</style>


<table class="tg" align="center" border="solid">
  <tr>
    <th class="tg-kzq8">White</th>
    <th class="tg-o2qf">Black</th>
  </tr>
  <tr>
    <td class="tg-3pmj"><%= wdisplay %></td>
    <td class="tg-0r6a"><%= bdisplay %></td>
  </tr>
  <tr>
    <td class="tg-3pmj">J Diamonds</td>
    <td class="tg-0r6a">J Diamonds</td>
  </tr>
  <tr>
    <td class="tg-3pmj">10 Hearts</td>
    <td class="tg-0r6a">10 Hearts</td>
  </tr>
  <tr>
    <td class="tg-3pmj">6 Clubs</td>
    <td class="tg-0r6a">6 Clubs</td>
  </tr>
  <tr>
    <td class="tg-3pmj">6 Diamonds</td>
    <td class="tg-0r6a">6 Spades</td>
  </tr>
</table>


<div class="fred" align="center" width="30%">
<h3>Somebody wins!</h3>
<input type="submit" class="fred" id="joe" value="Refresh">
</div>

</body>




</html>