<html>
<head>
</head>
<style>



</style>

<body>
<style type="text/css">
.tg  {
    border-collapse:collapse;border-spacing:0;
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-0r6a {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    background-color: #000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top}

.tg .tg-kzq8 {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-o2qf {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    background-color:#000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-3pmj {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
</style>

<form method="post" action="play">
<div class="twohands">

<table class="tg" align="center" border="solid">
  <tr>
    <th class="tg-kzq8" id="leftwhite">White</th>
    <th class="tg-o2qf" id="rightblack">Black</th>
  </tr>
  <tr>
    <td class="tg-3pmj" id="leftone">K of Clubs</td>
    <td class="tg-0r6a" id="rightone">Q of Clubs</td>
  </tr>
  <tr>
    <td class="tg-3pmj" id="lefttwo">J of Diamonds</td>
    <td class="tg-0r6a" id="righttwo">10 of Spades</td>
  </tr>
  <tr>
    <td class="tg-3pmj" id="leftthree">9 of Clubs</td>
    <td class="tg-0r6a" id="rightthree">8 of Spades</td>
  </tr>
  <tr>
    <td class="tg-3pmj" id="leftfour">7 of Hearts</td>
    <td class="tg-0r6a" id="righthree">6 of Clubs</td>
  </tr>
  <tr>
    <td class="tg-3pmj" id="leftfive">5 of Diamonds</td>
    <td class="tg-0r6a" id="rightfive">3 of Spades</td>
  </tr>
  </table>
</div>

<div class="sandbox" align="center" name="sandbox">

</div>

<div class="winner" align="center" width="30%">
<h3></h3>
<button type="button" value="Deal!" onclick="alert('Somebody wins!')">Click Me!</button>
</div>
</form>

</body>
</html>





<script>

function hitButton {




}

</script>