<html>
<head>
</head>
<style>
</style>

<body>
<div class="hands">
<table style="width:100%">
    <tr>
        <th align="left">White hand</th>
        <th align="right">Black hand</th>
    </tr>
    <tr>
        <td align="left">A of clubs</td>
        <td align="right">A of clubs</td>
    </tr>
    <tr>
        <td align="left">10 of clubs</td>
        <td align="right">10 of clubs</td>    
    </tr>
    <tr>
        <td align="left">9 of diamonds</td>
        <td align="right">9 of diamonds</td>    
    </tr>
    <tr>
        <td align="left">6 of hearts</td>
        <td align="right">6 of hearts</td>
    </tr>    
    <tr>
        <td align="left">5 of spades</td>
        <td align="right">5 of spades</td>
    </tr>    








</table>
</div>


<div class="fred" align="center">
<h3>Refresh button</h3>
<input type="submit" class="fred" id="joe" value="Refresh">
</div>

</body>




</html>