<html>
<head>
</head>
<body>
<style type="text/css">
.tg  {
    border-collapse:collapse;border-spacing:0;
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-0r6a {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    background-color: #000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top}

.tg .tg-kzq8 {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-o2qf {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    background-color:#000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-3pmj {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
</style>

<form method="post" action="play">
<div class="twohands">


<table class="tg" align="center" border="solid">

  <tr>
    <th class="tg-kzq8" id="leftwhite">White</th>
    <th class="tg-o2qf" id="rightblack">Black</th>
  </tr>
  
  <tr>
    <th class="tg-3pmj" id="left">Something</th>
    <th class="tg-0r6a" id="right">3 of diamonds</th>
  </tr>
  <tr>

    <td class="tg-3pmj" id="left[1]">Something 2</td>
    <td class="tg-0r6a" id="right[1]">6 of diamonds</td>
  </tr>
    </table>
</div>
</form>

<div>
<h2>Somebody wins</h2>
</div>

<form method="post" action="reset">

  <input type="button" id="deal" value="Deal!"><br><br>

</form>
</div>

</body>
</html>